--- 
--- 
@import "alembic";//"{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Assistant&family=Merriweather&display=swap');

$linkColour: #00c2cb !default;
$hoverColour: #08a1a8 !default;
.container.typeset h2 {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 5px;
}

.typeset blockquote p {
    border-left: 0.15rem solid #00c2cb;
}

.header .item.item--nav a {
    color: rgb(0, 194, 203);
}

.header .item.item--nav a:hover {
    color: rgb(8, 161, 168);
}

#about {
    font-weight: 700;
    font-family: 'Aleo';
}

.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6{
    font-family: 'Aleo';
    font-weight: 500;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Aleo';
    font-weight: 600;
}

ul a{
    font-family: 'Aleo';
}

.typeset p, .typeset small, .typeset .caption {
    font-family: 'Assistant';
}
.typeset li a,
.typeset p a {
    color: #000000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #00c2cb 50%);
}

.typeset li a:hover,
.typeset p a:hover {
    color: rgb(8, 161, 168);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #08a1a8 50%);
}

.about.links a {
    color: rgb(0, 194, 203);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #00c2cb 50%);
}

.about.links a:hover {
    color: rgb(8, 161, 168);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #08a1a8 50%);
}

.blogpost a {
    color: rgb(0, 194, 203);
}

.blogpost a:hover {
    color: rgb(8, 161, 168);
}

.small .post-meta a {
    color: rgb(0, 194, 203);
}

.small .post-meta a:hover {
    color: rgb(8, 161, 168);
}